@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;700&display=swap');
/*
font-family: 'Golos Text', sans-serif;
*/

/*==========  GENERAL ==========*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  background: rgb(10, 10, 10);
}

body {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#root{
  overflow-y: hidden;
}

/*================= HEADER =================*/
.menuImg{
  width: 100vw;
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  filter: opacity(0);
  position: relative;
  transition: 1s;
}

.menuImg img {
  width: 100%;
  height: 100%;
}

.active{
  filter: opacity(1);
  transition: 1s;
}

.header{
  width: 100vw;
  z-index: 100;
  height: 120px;
  background: rgb(25, 25, 25);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.fixed{
  z-index: 100;
  position: fixed;
  top: 0;
}

.logo{
  padding-left: 10px;
}

.links {
  display: grid;
  justify-items: center;
  list-style: none;
  transition: 1s;
  font-size: 0.9rem;
}

.links a {
  text-decoration: none;
  font-family: 'Golos Text', sans-serif;
  color: rgb(228, 228, 228);
}

.menuBtn{
  background: transparent;
  border: none;
  font-size: 2rem;
  color: rgb(228, 228, 228);
  padding-right: 30px;
}

.altMenu {
  background: rgb(14, 14, 14); 
  position: absolute; 
  top: 120px;
  width: 100vw;
  z-index: 50;
  list-style: none;
  padding: 20px;
  animation-name: menuAnimation;
  animation-duration: 1s;
}

@keyframes menuAnimation {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}

.altMenu li {
  margin: 20px 0 20px 0;
}

.altMenu a{
  text-decoration: none;
  color: rgb(228, 228, 228);
  font-family: 'Golos Text', sans-serif;
  font-size: 1.4rem;
}

.galleryItem:hover {
  filter: brightness(0.5);
  transition: 0.3s;
}

/*================== MAIN =======================*/

/*-------------- open image -----------------*/
.btn {
  background: transparent;
  border: none;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  z-index: 305;
}

.btn-cancel{
  position: fixed;
  top: 3vh;
  right: 30px;
}

.btn-next{
  position: fixed;
  top: 50vh;
  right: 30px;
}

.btn-previous {
  position: fixed;
  top: 50vh;
  left: 30px;
}

.openImages {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.685);
  z-index: 300;
}

.galleryImg{
  display: none;
  max-width: 80vw;
  max-height: 80vh;
}

.galleryImg img {
  max-width: 80vw;
  max-height: 80vh;
}

.activeImg{
  display: block;
}

/*----------------- games -------------------*/
.gameArticle img:hover{
  transform: scale(1.05);
  transition: 1s;
}

/*===================== FOOTER =======================*/
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: rgb(20, 20, 20);
}

.hover:hover{
  filter: brightness(0.75);
  transition: 0.4s;
}